<button (click)="createNewProduct()" class="btn btn-primary" style="margin: 10px;">Crear nuevo producto</button>
<button (click)="onShowDetail('242354435')" > Detalle no encontrado</button>
<div class="products--grid">
  <app-product
    [product]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"
  ></app-product>
  <button (click)="loadMore()" class="btn btn-secondary"> Cargar mas</button>
</div>
<div class="product-detail" [class.active]="showProductDetail">
  <div *ngIf="productChosen">
    <button (click)="toggleProductoDetail()" class="btn btn-secondary">Cerrar</button>
    <h1> {{ productChosen.title }} </h1>
    <p> {{productChosen.description}} </p>
    <button (click)="updateProduct()" class="btn btn-warning">Editar </button>
    <button (click)="deleteProduct()" class="btn btn-danger">Eliminar</button>
    <!-- <swiper
      [slidesPerView]="1"
      >
      <ng-template swiperSlide *ngFor="let img of productChosen.images">
      <img [src]="img" alt="">
      </ng-template>
    </swiper>
    <p> {{ productChosen.description }} </p> -->
  </div >
</div>
